@model IEnumerable<Category>
@{
	ViewData["Title"] = "Category";
}



<div style="padding-left:200px" class="container">

	<a asp-action="Create" style="border:1px solid green;margin-bottom:20px;;margin-top:20px;margin-left:850px;text-decoration-color:white;" class="btn btn-success">Create</a>

	<div style="padding-left:20px" class="tab-content" id="orders-table-tab-content">
		<div class="tab-pane fade show active" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
			<div class="app-card app-card-orders-table shadow-sm mb-5">
				<div class="app-card-body">
					<div class="table-responsive">
						<table class="table app-table-hover mb-0 text-left">
							<thead>
								<tr>
								
									<th class="cell">Name</th>
									<th style="width: 340px;" class="cell">Operations</th>

								</tr>
							</thead>
							<tbody>

								@foreach (var category in Model)
								{
									<tr>
										<td class="cell">
											@category.Name
										</td>
										
										<td class="cell">
											<a asp-action="Detail" asp-route-id="@category.Id" style="border:1px solid blue" class="btn btn-outline-info">Info</a>
											<a asp-action="Edit" asp-route-id="@category.Id" style="border:1px solid green" class="btn btn-outline-primary">Edit</a>
											<a asp-action="Delete" asp-route-id="@category.Id" style="border:1px solid red" class="btn btn-outline-danger">Delete</a>
										</td>

									</tr>
								}


							</tbody>
						</table>
					</div><!--//table-responsive-->

				</div><!--//app-card-body-->
			</div><!--//app-card-->


		</div><!--//tab-pane-->




	</div><!--//tab-content-->

</div>



