
@{
    ViewData["Title"] = "Create";
}


<div style="padding-left:200px" class="container my-5">
    <h1>Create</h1>
    <form class="forms-sample">
        <input class="form-control" type="file" id="customFile">
        <div class="my-3">
            <button type="submit" class="btn btn-success">Submit</button>
            <a type="button" asp-action="Index" class="btn btn-light">Cancel</a>
        </div>
    </form>
</div>

