@model Slider
@{
    ViewData["Title"] = "Detail";
}

<div class="container" style="padding-left:200px">

    <h1>Slider-Detail</h1>
    <div class="slider-content" >
        <img src="~/img/@Model.Image"/>
    </div>
    <a class="btn btn-info"  asp-action="Index">Back</a>
</div>



